<div class="row" style="background-color: #d9edf7; padding: 10%">
    <div class="col-sm-6"><center><a href="/employee/list"<button class="btn btn-success"><i class="glyphicon glyphicon-education"></i> Student</button></a></center></div>
    <div class="col-sm-6"><center><button class="btn btn-warning"><i class="glyphicon glyphicon-user"></i> Company</button></center></div>
</div>